@use "_base.scss" as *;


.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;


    &__input {
        grid-area: 1 / 1 / 2 / 5;
    }
}



