
$color-black: #000000;
$color-white: #ffff;
$primary-color: #2d2d2d;
$secondary-color: #9b9b9b;
$tertiary-color: #ef8e31;

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;
